*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4fc;
}

/* contiene encabezado class text_titulo - imagen: logo_a*/
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}
.text_titulo {
    position: absolute;
    left: 5.2%;
    font-size: 1.7rem;
    color: #41667e;
    animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* funcion aparezca titulo desvanecido*/
@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

/* Centrar y darle animacion de rotacion al logo de alura "a"*/
.logo_a {
    width: 1.7rem;
    animation: rotacion 1s 1 3s;
    transition: 0.8s linear 0s;
}
.logo_a:hover {
    transform: rotate(720deg);
}
@keyframes rotacion {
    100% {
        transform: rotate(360deg);
    }
}

.cuerpo_principal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.seccion_1 {
    padding-left: 5%;
    padding-right: 2%;
    height: 30rem;
    width: 60%;
}
@media only screen and (max-width: 600px) {
}
/* darle estilo dinamico a la caja de texto input*/
.contenedor_caja_texto1 {
    position: relative;
    height: 3.5rem;
}
.caja_texto1 {
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    color: #0a3871;
    font-size: 1.3rem;
    font-weight: 400;
    outline: none;
    padding: 1.25rem;
    background: white;
}
/* Cambiar el borde cuando este el input focus*/
.caja_texto1:hover {
    border-color: #b3cfd8;
}
.caja_texto1:focus {
    border-color: #5f8aa7;
}
/* crear el label dentro de la caja de texto*/
.label_caja_texto1 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.5rem;
    color: #888484;
    font-size: 1.1rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #ffffff;
    border-radius: 5px;
}
/*Cuando el curosor este en la caja de texto, reducir el tamaño de la etiqueta y mover hacia arriba
Mantener el estado de la etiqueta cuando el contenido está en el campo de entrada*/
.caja_texto1:focus ~ .label_caja_texto1,
.caja_texto1:not(:placeholder-shown).caja_texto1:not(:focus) ~ .label_caja_texto1 {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.9rem;
}

.alerta {
    position: relative;
    display: flex;
    top: 350px;
    align-items: center;
    gap: 10px;
}
.contenedor_botones {
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    top: 360px;
    justify-content: space-between;
    grid-gap: 15px;
}

.seccion_2 {
    padding-right: 5%;
    padding-left: 2%;
    width: 40%;
    height: 480px;
}
.contenedor_seccion_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    border-radius: 1rem;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 6px 6px 12px #c5c5c5;
    font-size: 0.2rem;
}
.contenedor_dibujo_hacker img {
    width: 100%;
    max-width: 320px;
}

.ocultar {
    display: none;
}

/* RESPONSIVE */
/* TABLETS */
@media only screen and (max-width: 768px) {
    /* SECCION 1 */
    .contenedor_botones {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        top: 300px;
    }
    .boton_encriptar {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .alerta {
        top: 290px;
    }
}
/* SMALL TABLETS */
@media only screen and (max-width: 600px) {
    /* SECCION 1 */
    .seccion_1 {
        width: 100%;
        padding-right: 5%;
    }
    .contenedor_botones {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        top: 14.375rem;
        grid-gap: 10px;
    }
    .boton_encriptar {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .alerta {
        top: 13.75rem;
    }
    /* SECCION 2 */
    .seccion_2 {
        width: 100%;
        padding-left: 5%;
        height: 350px;
    }
    .contenedor_dibujo_hacker img {
        max-width: 220px;
    }
}
/* SMART PHONE */
@media only screen and (max-width: 440px) {
    * {
        font-size: 13px;
    }
}
