
body{ /* estilo de todo el cuerpo <body> */
    background: #bed8ff;        /* color de fondo de todo el body */
}

.tituloPrincipal{
    padding-left: 15%;
}   

.centrarTitulo{
    text-align: center;
}

p{  /* estilo de los parrafos <p> */
    text-align: justify;
}

strong{ /* estilo de la negrita */
    color: brown;
}

em strong{ /* estilo de la negrita que esta dentro del estilo cursiva */
    color: blue;
}

#servicio{ /* propiedad especial para un parrafo alque llamamod id="servicio" */
    font-size: 20px;
}

.principal{
    background: #eee596;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.items{ /* a las listas <li> le creamos un clase="items" */
    font-style: italic;
}

.image-container { /* contenedor de la imagen */
    width: 98%; /* ancho del tamaño del contenedor */
    height: 250px; /* alto del tamaño del contenedor */
    border: 1px solid #ccc;
    padding: 10px;  /* borde que se separa la imagen del contenedor */
    overflow: hidden; /* recorta cualquier contenido que se salga del contenedor */
    display: flex; /* establece un contenedor de tipo flexbox */
    /*align-items: bottom; /* centra verticalmente el contenido del contenedor */
}

.image-container img { /* caracteristicas de la imagen */
    width: 100%; /* ajusta el ancho de la imagen al 100% del contenedor */    
    object-fit: cover; /* ajusta la imagen para cubrir todo el contenedor */    
    object-position: center -50px; /* alinea la imagen en el centro horizontalmente, en la parte superior del contenedor, con un desplazamiento de 50px hacia abajo */  
}

ul{
    display: inline-block; /* hace que el bloque de la lista no ocupe todo el ancho de la pagina, solo el andho de su contenido*/ 
    vertical-align: top; /* alinea la lista en la parte superiro del bloque*/
    width: 20%;  /* la lista ocupa el 20% del ancho de la ventana */
    margin-right: 15%; /* dejar un margen de espácio vacio al lado derecho del bloque lista */
}

.imagenDiferencial{
    width: 50%;
}